@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.container {
  // display: flex;
  // flex-direction: column;
  height: 100vh;
  display: grid;
  grid-template: "navigation" auto "content" 1fr "footer" auto / 1fr;

  // grid-template-areas:
  //   "navigation"
  //   "content"
  //   "footer";
  // grid-template-columns: 1fr;
  // grid-template-rows: auto 1fr auto;
  // background: color.$gray-900;

  @media (min-width: breakpoint.$desktop) {
    // flex-direction: row;
    // display: grid;
    grid-template: "navigation content" 1fr "navigation footer" auto / auto 1fr;

    // grid-template-areas:
    //   "navigation content"
    //   "navigation footer";
    // grid-template-columns: auto 1fr;
    // grid-template-rows: 1fr auto;
  }
}

.navigation {
  // @media (min-width: breakpoint.$desktop) {
  //   grid-area: navigation;
  // }
  grid-area: navigation;
}

.main {
  // flex: 1;
  display: flex;
  grid-area: content;
}

.contentContainer {
  flex: 1;

  // min-height: calc(100vh - 2 * space.$s8 - misc.$header-height);
  margin-top: misc.$header-height;
  padding: space.$s8 space.$s3;
  background: color.$white;

  @media (min-width: breakpoint.$desktop) {
    // min-height: calc(100vh - space.$s3 - 2 * space.$s8);
    margin-top: space.$s3;
    padding: space.$s8;
    border-top-left-radius: space.$s10;
  }
}

.title {
  margin: space.$s0 space.$s0 space.$s1;
  color: color.$gray-900;
  font: font.$display-sm-medium;
}

.info {
  margin-bottom: space.$s8;
  color: color.$gray-500;
  font: font.$text-md-regular;
}
