@use "@styles/color";
@use "@styles/font";
@use "@styles/shadow";
@use "@styles/space";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  border-radius: space.$s2;
  font: font.$text-sm-medium;
}

.icon {
  height: 100%;
}

.sm {
  height: 2.25rem;
  padding: 0.5rem 0.875rem;
  font: font.$text-sm-medium;

  &.iconOnly {
    padding: 0.5rem;
  }
}

.md {
  height: 2.5rem;
  padding: 0.625rem 1rem;
  font: font.$text-sm-medium;

  &.iconOnly {
    padding: 0.625rem;
  }
}

.lg {
  height: 2.75rem;
  padding: 0.625rem 1.125rem;
  font: font.$text-md-medium;

  &.iconOnly {
    padding: 0.625rem;
  }
}

.xl {
  height: 3rem;
  padding: 0.75rem 1.25rem;
  font: font.$text-md-medium;

  &.iconOnly {
    padding: 0.75rem;
  }
}

.primary.default,
.primary.iconOnly {
  border: 1px solid color.$primary-600;
  background: color.$primary-600;
  color: color.$white;
  box-shadow: shadow.$xs;

  &:hover {
    border: 1px solid color.$primary-700;
    background: color.$primary-700;
  }

  &:focus {
    border: 1px solid color.$primary-600;
    background: color.$primary-600;
    outline: 4px solid color.$primary-100;
    box-shadow: shadow.$focus-primary, shadow.$xs;
  }

  &:disabled {
    border: 1px solid color.$primary-200;
    background: color.$primary-200;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.secondary.default,
.secondary.iconOnly {
  color: color.$primary-700;
  border: 1px solid color.$primary-50;
  background: color.$primary-50;
  box-shadow: shadow.$xs;

  &:hover {
    border-color: color.$primary-100;
    background: color.$primary-100;
  }

  &:focus {
    border-color: color.$primary-50;
    background: color.$primary-50;
    outline: 4px solid color.$primary-100;
    box-shadow: shadow.$focus-primary, shadow.$xs;
  }

  &:disabled {
    color: color.$primary-300;
    border: 1px solid color.$primary-25;
    background: color.$primary-25;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.gray.default,
.gray.iconOnly {
  color: color.$gray-700;
  border: 1px solid color.$gray-300;
  background: color.$white;
  box-shadow: shadow.$xs;

  &:hover {
    color: color.$gray-800;
    border-color: color.$gray-300;
    background: color.$gray-50;
  }

  &:focus {
    border-color: color.$gray-300;
    background: color.$white;
    outline: 4px solid color.$gray-100;
    box-shadow: shadow.$focus-gray, shadow.$xs;
  }

  &:disabled {
    color: color.$gray-300;
    border: 1px solid color.$gray-200;
    background: color.$white;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.error.default,
.error.iconOnly {
  color: color.$white;
  border: 1px solid color.$error-600;
  background: color.$error-600;
  box-shadow: shadow.$xs;

  &:hover {
    border-color: color.$error-700;
    background: color.$error-700;
  }

  &:focus {
    border-color: color.$error-600;
    background: color.$error-600;
    outline: 4px solid color.$error-100;
    box-shadow: shadow.$focus-error, shadow.$xs;
  }

  &:disabled {
    border: 1px solid color.$error-200;
    background: color.$error-200;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.primary.empty,
.secondary.empty {
  color: color.$primary-700;

  &:hover {
    background: color.$primary-50;
  }

  &:focus {
    background: none;
    outline: 4px solid color.$gray-100;
  }

  &:disabled {
    background: none;
    color: color.$gray-300;
  }
}

.gray.empty {
  color: color.$gray-500;

  &:hover {
    color: color.$gray-600;
    background: color.$gray-50;
  }

  &:focus {
    color: color.$gray-500;
    background: none;
    outline: 4px solid color.$gray-100;
  }

  &:disabled {
    background: none;
    color: color.$gray-300;
  }
}

.error.empty {
  color: color.$error-700;

  &:hover {
    background: color.$error-50;
  }

  &:focus {
    background: none;
    outline: 4px solid color.$error-100;
  }

  &:disabled {
    background: none;
    color: color.$error-300;
  }
}
