@use "@styles/color";
@use "@styles/font";
@use "@styles/shadow";
@use "@styles/space";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  border-radius: space.$s2;
  box-shadow: shadow.$xs;
  font: font.$text-sm-medium;
}

.sm {
  height: 2.25rem;
  padding: 0 0.875rem;
  font: font.$text-sm-medium;
}

.md {
  height: 2.5rem;
  padding: 0 1rem;
  font: font.$text-sm-medium;
}

.lg {
  height: 2.75rem;
  padding: 0 1.125rem;
  font: font.$text-md-medium;
}

.xl {
  height: 3rem;
  padding: 0 1.25rem;
  font: font.$text-md-medium;
}

.primary.default {
  border: 1px solid color.$primary-600;
  background: color.$primary-600;
  color: color.$white;

  &:hover {
    border: 1px solid color.$primary-700;
    background: color.$primary-700;
  }

  &:focus {
    border: 1px solid color.$primary-600;
    background: color.$primary-600;
    outline: 4px solid color.$primary-100;
    box-shadow:
      0 0 0 4px #f4ebff,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    border: 1px solid color.$primary-200;
    background: color.$primary-200;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.secondary.default {
  border: 1px solid color.$primary-50;
  background: color.$primary-50;
  color: color.$primary-700;

  &:hover {
    border: 1px solid color.$primary-100;
    background: color.$primary-100;
  }

  &:focus {
    border: 1px solid color.$primary-50;
    background: color.$primary-50;
    outline: 4px solid color.$primary-50;
    box-shadow:
      0 0 0 4px #f4ebff,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    color: color.$primary-300;
    border: 1px solid color.$primary-25;
    background: color.$primary-25;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.gray.default {
  border: 1px solid color.$gray-300;
  background: color.$white;
  color: color.$gray-700;

  &:hover {
    border: 1px solid color.$gray-300;
    background: color.$gray-50;
  }

  &:focus {
    border: 1px solid color.$gray-300;
    background: color.$white;
    outline: 4px solid color.$gray-300;
    box-shadow:
      0 0 0 4px #f2f4f7,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    color: color.$gray-300;
    border: 1px solid color.$gray-200;
    background: color.$white;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.error.default {
  border: 1px solid color.$error-600;
  background: color.$error-600;
  color: color.$white;

  &:hover {
    border: 1px solid color.$error-700;
    background: color.$error-700;
  }

  &:focus {
    border: 1px solid color.$error-600;
    background: color.$error-600;
    outline: 4px solid color.$error-600;
    box-shadow:
      0 0 0 4px #fee4e2,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    border: 1px solid color.$error-200;
    background: color.$error-200;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  }
}

.primary.empty,
.secondary.empty {
  color: color.$primary-700;
  box-shadow: none;

  &:hover {
    background: color.$primary-50;
  }

  &:focus {
    background: none;
    outline: 4px solid color.$gray-100;
  }

  &:disabled {
    background: none;
    color: color.$gray-300;
  }
}

.gray.empty {
  color: color.$gray-500;
  box-shadow: none;

  &:hover {
    color: color.$gray-600;
    background: color.$gray-50;
  }

  &:focus {
    color: color.$gray-500;
    background: none;
    outline: 4px solid color.$gray-100;
  }

  &:disabled {
    background: none;
    color: color.$gray-300;
  }
}

.error.empty {
  color: color.$error-700;
  box-shadow: none;

  &:hover {
    background: color.$error-50;
  }

  &:focus {
    background: none;
    outline: 4px solid color.$error-100;
  }

  &:disabled {
    background: none;
    color: color.$error-300;
  }
}
