// @use "@styles/color";
// @use "@styles/font";
@use "@styles/space";

.filterBar {
  display: flex;
  align-items: flex-start;
  gap: space.$s4;
  align-self: stretch;
  margin-bottom: space.$s6;
}

.input {
  gap: 0;
}

.rightGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: space.$s4;
  justify-content: flex-end;
}
