@use "@styles/breakpoint";
@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/shadow";

.label {
  color: color.$gray-700;
  font: font.$text-sm-medium;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select {
  color: color.$gray-900;
  font: font.$text-md-regular;
  display: flex;
  width: 20rem;
  height: 2.75rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0.625rem 0.875rem;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid color.$gray-300;
  background: color.$white;

  /* Shadow/xs */
  box-shadow: shadow.$xs;
}
